@charset "utf-8";

body{
	background:#17acee;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}

.clear{
	clear:both;
}

.f_left{
	float:left;
}

.f_right{
	float:right;
}

p{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}

h1{
	font-size:18px;
	font-weight:bold;
}

.opacity{
	opacity:0;
}


h2{
	font-size:16px;
	font-weight:bold;
}


h3{
	font-size:14px;
	font-weight:bold;
}

strong{
	font-weight:bold;
}

div{
	font-family:Arial, Helvetica, sans-serif;
}

.container{
	width:960px;
	height:600px;
	background:#fafafa;
	margin:0px auto;
	border:1px solid #02131a;
	position:relative;
}

.header{
	height:80px;
	background:#064966;
	padding:0px 20px;
}

.logo{
	width:240px;
	height:63px;
	float:left;
}

.logo img{
	max-width:100%;
	max-height:100%;
}

.course_command{
	margin:13px 0px 0px 0px;
	float:right;
	width:105px;
	height:64px;
}

.course_command .close{
	width:20px;
	height:20px;
}

.course_command .close img{
	cursor:pointer;
}

.course_command .help{
	width:20px;
	height:20px;
	
}

.course_command .help img{
	cursor:pointer;
}

.title{
	height:40px;
	background:#d6d6d6;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	vertical-align:middle;
	padding:0px 20px;
	text-transform:uppercase;
	color:#11378f;
}

.content{
	height:380px;
	background:#bbb;
	padding:20px;
}

.main_content{
	width:560px;
	float:left;
	height:340px;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 0px 5px #ccc;
	padding:20px;
	overflow:auto;
}

.main_content p{
	margin-top:15px;
}

.right_section{
	width:280px;
	float:right;
	height:360px;
	background:#fff;
	padding:10px;
}

.footer{
	height:60px;
	background:#064966;
	padding:0px 20px;
}

.controls{
	padding-top:5px;
}

#play{
	width:60px;
	float:left;
}

#play img{
	width:55px;
	cursor:pointer;
}


#prev{
	width:40px;
	float:left;
	margin:12px 0px 0px 10px;
}

#prev img{
	width:35px;
	cursor:pointer;
}


#next{
	width:40px;
	float:left;
	margin:12px 0px 0px 10px;
}

#next img{
	width:35px;
	cursor:pointer;
}

#seekbar{
	width:300px;
	height:16px;
	background:#fff;
	float:left;
	margin:21px 0px 0px 15px;
	overflow:hidden;
}

#progress{
	height:16px;
	width:20%;
	background:#1978ce;
}

#pagination{
	width:70px;
	height:16px;
	float:left;
	margin:22px 0px 0px 30px;
	color:#fff;
	font-weight:bold;
}

#menu{
	width:260px;
	height:25px;
	background:#fff;
	float:left;
	margin:17px 0px 0px 15px;
	position:relative;
}

#menu > ul {
	position:absolute;
	z-index:999;
	bottom:26px;
	background:#fff;
	width:280px;
	padding:0px;
	border:5px solid #000;
	display:none;
	max-height:300px;
	overflow-y:scroll;
}

#menu > ul > li > a{
	display:block;
	background:#064966;
	padding:8px 5px;
	text-decoration:none;
	font-size:12px;
	color:#fff;
	font-weight:bold;
}

#menu ul li a:hover{
	background:#11378F;
}

#menu ul li a.active{
	background:#11378F;
}

#menu > ul  > li  > ul > li > a{
	display:block;
	background:#1978CE;
	padding:5px;
	text-decoration:none;
	font-size:12px;
	color:#fff;
	border-bottom:1px solid #ccc;
	padding-left:15px;
}

#open_menu{
	width:30px;
	height:25px;
	background:#000 url(../images/up_arrow.png) no-repeat 5px 3px;
	float:left;
	margin:17px 0px 0px 0px;
	overflow:hidden;
	cursor:pointer;
}

#open_menu.active{
	background:#000 url(../images/down_arrow.png) no-repeat 5px 3px;
}

#current{
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding:5px;
}

table{
	margin:10px 0px 0px 0px;
	border-collapse:collapse;
	border:1px solid #ccc;
}

table tr th{
	background:#333;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
}

table tr td{
	font-size:12px;
	color:#333;
	border-collapse:collapse;
	border:1px solid #ccc;
	padding:5px;
}

.transcript img{
	max-width:80%;
	max-height:80%;
	display:block;
	margin:10px auto;
}

.hide{
	display: none;
}

#dialog{
	background:#1978CE;
	z-index:9999;
	border:5px solid #000;
	border-radius:5px;
	position:absolute;
	left:260px;
	top:200px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	padding:70px;
}

#start_content{
	background:#ccc;
	padding:130px 0px;
	display:none;
}

#splash{
	background:#4A00C1;
	width:250px;
	height:250px;
	border:5px solid #000;
	border-radius:250px;
	color:#fff;
	margin:0px auto;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
}

#splash_1{
	padding:50px 0px 0px 0px;
	text-align:center;
	text-align:center;
}


#splash_2{
	padding:20px 0px 0px 10px;
	text-align:center;
}
#splash_3{
	padding:30px 0px 0px 10px;
	text-align:center;
	font-weight:normal;
	font-size:14px;
	width:150px;
	margin:0px auto;
}

.close-action{
	position: absolute;
	right:0px;
	top:0px;
}